.obsidian/
./backend/database/pgdata
node_modules/
dist/
build/
*.log
.env
.DS_Store
/tmp/
backend/GoCode/ramluck-cloud
backend/GoCode/backend
*.exe
*.dll
*.so
*.dylib
*.test
*.out
coverage.txt
coverage.html